<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <script src='../../../vue.js'></script>
    </head>
    <body>

        <div id="app">
            <!-- 单独获取数组值 -->
            <ul>
                <li v-for="item in message">{{item}}</li>
            </ul>

            <!-- 在获取值的同时，也获取索引 -->
            <ul>
                <li v-for="(item, index) in message">{{(index+1) + '.' + item}}</li>
            </ul>
        </div>

        <script>
            const app = new Vue({
            el: '#app',
            data: {
                message: ['哈利波特', "X战警", "蝙蝠侠", "教父", "僵尸先生", "肖申克的救赎"]
            },
            methods: {
                
            }
        })
        </script>
    </body>
</html>